.mainwindow {
    background-color: @theme_bg_color;
}
.headerbar {
    background-color: @theme_bg_color;
}
.view-lyric text{
    background-color: @theme_bg_color;
}
.view-lyric {
    font-size: 18px;
}
